.tools-jumbotron {
  overflow-y: scroll;
  max-height: calc(100vh - 400px);
}

.tools-jumbotron div {
  background-color: #060402c7;
  color: #f7f6f5;
}

.style-inputColor {
  -webkit-animation: none;
  -moz-appearance: none;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.style-inputColor::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}

.style-inputColor::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}

.container {
  display: flex;
  align-items: center;
}

.container-between {
  display: flex;
  align-items: center;
}

.container-between po-button {
  margin-right: auto;
}

.vertical-line {
  margin-left: 15px;
  height: 32px;
  border-left: 1px solid rgb(177, 169, 169);
}

.container-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10% 0 0;
}

.hide {
  display: none;
}
